body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    width: 100%;
    margin-inline: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    color: pink;
    background-color: black;
    border-bottom: 1px solid gray;
}

.Header-text {
    display: flex;
    justify-content: space-between;
    border: none;
    font-weight: bold;
    font-size: 30px;
    padding: 16px;
    align-items: center;
}

.icon-container {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: none;
}

.Text-1 {
   display: flex;
   gap: 15px;
}

@media  (max-width:1200px) {
.Text-1 {
    display: none;
}
.icon-container {
    display: flex;
}
}

.Section-1 {
    color: white;
    font-size: 50px;
    font-style: Bebas neue;
    width: 300px;
    gap: 8px;
}

.Section-2 {
    color: white;
    font-size: 15px;
    font-style: manrope;
    width: 400px;
}

.All-icon {
    gap: 15px;
}

.icon-1 {
    width: 30px;
    height: 30px;
}

.icon-2 {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.Header-img {
    width: 373px;
    height: 663px;
}

.Section-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 30px;
    gap: 40px;
}

@media (max-width: 1200px) {
    .Section-text {
        flex-direction: column;
        text-align: center;
    }
    .All-section {
        text-align: left;
    }
    .Section-img {
        width: 343px;
        height: 500px;
        justify-content: left;
    }
}
.All-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 30px;
    margin-top: 50px;
}

.all-text {
    margin-left: 30px;
}

.Pro-text-1 {
    color: white;
    font-size: 36px;
    gap: 8px;
}

.Pro-text-2 {
    color: white;
    font-size: 15px;
    font-style: manrope;
    width: 400px;
}

.Pro-img {
    width: 486px;
    height: 347px;
    background-color: #1a1a1a;
}

.Pro-text-3 {
    color: white;
    font-size: 30px;
    font-style: manrope;
    width: 400px;
}

.Pro-text-4 {
    color: #c7c7c7;
    font-size: 18px;
    font-style: manrope;
    width: 500px;
}
