body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    width: 100%;
    margin-inline: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    color: pink;
    background-color: black;
    border-bottom: 1px solid gray;
}

.Header-text {
    display: flex;
    justify-content: space-between;
    border: none;
    font-weight: bold;
    font-size: 30px;
    padding: 16px;
    align-items: center;
}

.icon-container {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: none;
}

.Text-1 {
   display: flex;
   gap: 15px;
}

@media  (max-width:1200px) {
.Text-1 {
    display: none;
}
.icon-container {
    display: flex;
}
}

.Section-1 {
    color: white;
    font-size: 40px;
}

.Section-2 {
    color: white;
    font-size: 15px;
}

.All-icon {
    gap: 15px;
}

.icon-1 {
    width: 30px;
    height: 30px;
}

.icon-2 {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.Header-img {
    width: 600px;
    height: 663px;
}

.Section-text {
    display: flex;
    align-items: center;
    justify-content: center;
}